.logoWrap {
  height: 127px;
  text-align: center;
  padding-top: 2rem;
}

.linkWrap {
  display: flex;
  justify-content: right !important;

  margin-top: 2rem;

  ul {
    list-style: none;

    li {
      margin: 1.5rem 0;
      padding: 10px 6.5rem 10px 1.5rem;

      @media (max-width: 1300px) {
        padding: 10px 1.5rem 10px 1.5rem;
      }

      a {
        text-decoration: none;
        display: flex;
        align-items: center;

        span {
          font-family: "Axiforma";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: #8b9298;
          margin-left: 14.5px;
        }
      }
    }
    li:hover,
    .active {
      background-color: #fff;
      border-radius: 5px 0px 0px 5px;
    }
    li:hover span,
    .active span {
      color: #0047cc;
    }
  }
}

.helpWrap {
  margin-top: 4rem;

  ul {
    list-style: none;
    max-width: 200px;
    margin: 0 auto;

    li:first-child {
      font-family: "Axiforma";
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 23px;
      color: #000000;
    }
    li {
      font-family: "Axiforma";
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 24px;
      color: #0047cc;
      margin-bottom: 10px;

      a {
        text-decoration: none;
        display: flex;
        align-items: center;

        span {
          margin-left: 14.5px;
        }
      }
    }
  }
}
