.quickActionWrap {
  height: 134px;
  background: #eff2f8;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h5 {
    margin-top: 1rem;
  }
}
